
.header {
    display: flex;
    height: 40px;
    
}


.app-name-div {
    background-color: purple;
    height: 100%;
    padding: 1px;
    text-align: center; 
}

.app-name {
    top: 50%;
}

.header-options {
    height: 100%;
    margin: 10px;
    color:honeydew;
    text-decoration: none;
}

.header-options:hover {
    background-color: dimgrey;
}

.active {
    background-color: purple;
}

.spacer {
    flex: 1 1 auto;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
}