<mat-toolbar class="header">
  <div class="app-name-div">
    <p class="app-name">My Gaming Library</p>
  </div>

  <a class="header-options" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>

  <mat-divider [vertical]="true"></mat-divider>

  <a class="header-options" routerLink="/gamesearch" routerLinkActive="active">Search Game</a>

  <mat-divider [vertical]="true"></mat-divider>

  <a *ngIf="isLoggedIn$ | async" class="header-options" routerLink="/favourites" routerLinkActive="active">Favourite Games</a>

  <mat-divider [vertical]="true"></mat-divider>

  <a *ngIf="isUserAdmin() && (isLoggedIn$ | async)" class="header-options" routerLink="/adminzone" routerLinkActive="active">Admin Zone</a>

  <span class="spacer"></span>

  <a *ngIf="!(isLoggedIn$ | async)" class="header-options" routerLink="/login" routerLinkActive="active">Login</a>

  <mat-divider [vertical]="true"></mat-divider>

  <a *ngIf="!(isLoggedIn$ | async)" class="header-options" routerLink="/signup" routerLinkActive="active">Signup</a>

</mat-toolbar>
