.homepage {
    background-color:rgb(24, 22, 24);
    /* background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    height: 1000px;
}

.page-title {
        font-size: 70px;
        color: rgb(255, 255, 255);
        /* background-color: rgb(51, 51, 51); */
        text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, red 0px -18px 40px;
        --darkreader-inline-color:#e8e6e3;
        --darkreader-inline-bgcolor:#262a2b;
        
        
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
    /* margin: 0 auto; */
    /* text-align: justify; */
    width: 100%;
    height: 20%;
    background-image: url(src\assets\images\970954.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;


}

.random-games-body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;

}