<div class="homepage">
    <div class="hero-section">
        <h1>Welcome to</h1>
        <h1>My Gaming Library</h1>

    </div>
  

   
    <div class="random-games-body" >
      <app-game-card *ngFor="let randomGame of random8Games" [game]="randomGame"></app-game-card>
      <!-- <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card> -->
    </div>
    <br>
  

</div>
