<div class="favourites-page">
  <div class="favourites-page-filter">

  <div class="favourites-hero-section">
    <br>
    <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 40px;">These are your favourite games, {{currentUser.name}}!</h1>
    <br>
    <h1>Don't forget to leave your comment. Share with other players your gaming experience</h1>
  </div>
<br>
  <div class="favourite-games-collection">
        <app-game-card *ngFor="let favouriteGame of favouriteGames | async" [gameId] = "favouriteGame.gameId"></app-game-card>
  </div>
</div>
</div>

