.login-page {
    /* background-color: rgb(46, 44, 44); */
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(src\assets\images\pexels-suludan-diliyaer-596750.jpg);
    background-size: 100%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.login-form {
    display: flex;
    background-color: rgba(1, 22, 80, 0.918);
    flex-direction: column;
    justify-items: center;
    align-items: center;

}