
.outer-game-details {
    padding: 10px;
    padding-bottom: 40px;
    display: flex;
    max-width: 100%;
    max-height: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 33, 48);
    color: white;
}

.image-and-button {
    position:relative;
    width: 100%;
}

.image-and-button img {
    width: 100%;
    height: auto;
}

.image-and-button button {
    position: absolute;
    bottom: 7%;
    left: 5%;
    min-width:20%;
    max-width: fit-content;

}

.game-details {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    /* justify-items: center;
    align-items: center; */
    /* justify-content: center; */
    align-content: center;
}

mat-form-field {
    width: 100%;
}

.comments-section {
    display: flex;
    flex-wrap: wrap;
}


